In [1]:
import pandas as pd
import numpy as np
import datetime

In [4]:
Finance = pd.read_csv("Campaign_Finance_-_FPPC_Form_460_-_Schedule_A_-_Monetary_Contributions.csv")
Finance.head()

/Users/katiawilliams/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0,16,17,22,26,28,31,32,33,34,35,36,39,40,41,42,43,44,45,48,49,50,51,52,54,55,58,59,60,61,63,67,68,69,73,74,76,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Filer_ID,Filer_NamL,Report_Num,Committee_Type,Rpt_Date,From_Date,Thru_Date,Elect_Date,tblCover_Office_Cd,tblCover_Offic_Dscr,...,Memo_Code,Memo_RefNo,BakRef_TID,XRef_SchNm,XRef_Match,Loan_Rate,Int_CmteId,Tran_Location,Tres_Location,Intr_Location
0,1249382,12th A. D. Chinese American Democratic Club,0,RCP,01/28/2003,01/01/2002,12/31/2002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"94127(37.735395, -122.460584)",NaN,NaN
1,1249382,12th A. D. Chinese American Democratic Club,0,RCP,01/28/2003,01/01/2002,12/31/2002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"94104(37.791405, -122.402029)",NaN,NaN
2,1250153,12th A. D. Democratic Club,0,RCP,01/28/2003,01/01/2002,12/31/2002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"94112(37.720647, -122.442853)",NaN,NaN
3,1250153,12th A. D. Democratic Club,0,RCP,01/08/2004,07/01/2003,12/31/2003,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"94103(37.772469, -122.411853)",NaN,NaN
4,1250153,12th A. D. Democratic Club,0,RCP,01/28/2003,01/01/2002,12/31/2002,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"94122(37.761208, -122.48469)",NaN,NaN

In [6]:
Finance.columns

Index(['Filer_ID', 'Filer_NamL', 'Report_Num', 'Committee_Type', 'Rpt_Date',
       'From_Date', 'Thru_Date', 'Elect_Date', 'tblCover_Office_Cd',
       'tblCover_Offic_Dscr', 'Rec_Type', 'Form_Type', 'Tran_ID', 'Entity_Cd',
       'Tran_NamL', 'Tran_NamF', 'Tran_NamT', 'Tran_NamS', 'Tran_Adr1',
       'Tran_Adr2', 'Tran_City', 'Tran_State', 'Tran_Zip4', 'Tran_Emp',
       'Tran_Occ', 'Tran_Self', 'Tran_Type', 'Tran_Date', 'Tran_Date1',
       'Tran_Amt1', 'Tran_Amt2', 'Tran_Dscr', 'Cmte_ID', 'Tres_NamL',
       'Tres_NamF', 'Tres_NamT', 'Tres_NamS', 'Tres_Adr1', 'Tres_Adr2',
       'Tres_City', 'Tres_State', 'Tres_Zip', 'Intr_NamL', 'Intr_NamF',
       'Intr_NamT', 'Intr_NamS', 'Intr_Adr1', 'Intr_Adr2', 'Intr_City',
       'Intr_State', 'Intr_Zip4', 'Intr_Emp', 'Intr_Occ', 'Intr_Self',
       'Cand_NamL', 'Cand_NamF', 'Cand_NamT', 'Cand_NamS',
       'tblDetlTran_Office_Cd', 'tblDetlTran_Offic_Dscr', 'Juris_Cd',
       'Juris_Dscr', 'Dist_No', 'Off_S_H_Cd', 'Bal_Name', 'Bal_Num',
       'Bal_Juris', 'Sup_Opp_Cd', 'Memo_Code', 'Memo_RefNo', 'BakRef_TID',
       'XRef_SchNm', 'XRef_Match', 'Loan_Rate', 'Int_CmteId', 'Tran_Location',
       'Tres_Location', 'Intr_Location'],
      dtype='object')

Let's see who's getting the most funding!

We check the docs and see the column types with "payee" in them. That's a good sign! We'll also take "Tran_Amt1"

In [13]:
fin_payees = Finance.loc[:,["Payee_NamT", "Payee_NamF", "Payee_NamL", "Payee_NamS", "Tran_Amt1"]]
fin_payees.head()

   Payee_NamT  Payee_NamF  Payee_NamL  Payee_NamS  Tran_Amt1
0         NaN         NaN         NaN         NaN      250.0
1         NaN         NaN         NaN         NaN     4000.0
2         NaN         NaN         NaN         NaN      300.0
3         NaN         NaN         NaN         NaN     4000.0
4         NaN         NaN         NaN         NaN      250.0

Oh no! They don't give us the payee names! Interesting...

Quick sanity check: How many rows don't have a payee last name compared to the total number of rows?

In [16]:
len(fin_payees[pd.isnull(fin_payees['Payee_NamL'])])

359922

In [17]:
len(fin_payees)

359922

They are all null. Superb, no one reports on who they're giving to!

Maybe we can get some information from the organizations giving money though. Which orgs gave the most money?

In [18]:
fin_orgs = Finance.loc[:,["Filer_NamL", "Tran_Amt1"]]
fin_orgs.head()

                                    Filer_NamL  Tran_Amt1
0  12th A. D. Chinese American Democratic Club      250.0
1  12th A. D. Chinese American Democratic Club     4000.0
2                   12th A. D. Democratic Club      300.0
3                   12th A. D. Democratic Club     4000.0
4                   12th A. D. Democratic Club      250.0