In [1]:
#Importing Packages I'll need
import pandas as pd
import numpy as np
import os
import scipy as sp
import re

# Initial Loading

In [2]:
#Loading the main Opportunity Atlas file. This will only work if the file below is in the same folder as this notebook
OA = pd.read_csv("tract_outcomes_early.csv")
OA.head()

/Users/katiawilliams/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5703) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,state,county,tract,kir_natam_female_p1,kir_natam_female_p25,kir_natam_female_p50,kir_natam_female_p75,kir_natam_female_p100,kir_natam_female_n,kir_natam_female_mean,...,jail_white_pooled_mean_se,kfr_white_pooled_mean_se,staytract_white_pooled_mean_se,staycz_white_pooled_mean_se,stayhome_white_pooled_mean_se,working_white_pooled_mean_se,kir_stycz_white_pooled_mean_se,kfr_stycz_white_pooled_mean_se,spouse_rk_white_pooled_mean_se,par_rank_white_pooled_mean_se
0,1,1,20100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.007490,0.014829,0.020353,0.025752,0.019710,0.025348,0.018290,0.017890,0.018882,0.013778
1,1,1,20200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.003828,0.020797,0.028821,0.041338,0.028252,0.029613,0.030380,0.028010,0.025328,0.021874
2,1,1,20300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.002141,0.011726,0.016670,0.022392,0.015206,0.019161,0.015177,0.015285,0.016145,0.009353
3,1,1,20400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.001777,0.010787,0.016027,0.019096,0.012477,0.016844,0.014253,0.014508,0.014396,0.009628
4,1,1,20500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000983,0.008789,0.012861,0.017491,0.010930,0.014396,0.011836,0.012748,0.010329,0.006667

#### Loading the Business Master File Data.

In [3]:
#First, 1989
BMF_1989 = pd.read_csv("bmf.bmf89.csv")
BMF_1989.head()

/Users/katiawilliams/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,EIN,NAME,CITY,STATE,ZIP,SUBSECCD,ZIP5,MSA_NECH,PMSA,fipsold,...,Income,stateOld1,zip5Old1,cityOld1,NteeOldB,Ntee2007a,Confidence2007a,RandNum,nteeFinal,nteeFinal1
0,10024155,BANGOR BAND,BANGOR,ME,04401-5828,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A6C,A,0.36818,A6C,A
1,10024645,BANGOR SYMPHONY ORCHESTRA,BANGOR,ME,04401-1441,3.0,4401,733.0,NaN,NaN,...,0,ME,4401,BANGOR,Z99,A69,A,0.54812,A69,A
2,10078060,HENRIETTA D GOODALL HOSPITAL INC,SANFORD,ME,04073-2621,3.0,4073,NaN,NaN,NaN,...,0,ME,4073,SANFORD,Z99,E22,A,0.63606,E22,E
3,10130427,NORTHERN CUMBERLAND MEMORIAL HOSPITAL,BRIDGETON,ME,04009-0000,3.0,4009,6403.0,NaN,NaN,...,0,ME,4009,BRIDGETON,Z99,E22,A,0.53593,E22,E
4,10131950,OLD FOLKS HOME IN BATH,BATH,ME,04530-1697,3.0,4530,NaN,NaN,NaN,...,0,ME,4530,BATH,Z99,A80,C,0.77148,A80,A

In [4]:
#Next 2015. I've downloaded all the 2015 files and am combining them to make sure all nonprofits that began and ended
#in 2015 are included.

#Once you've run this cell, don't run it again

#This makes an empty table
BMF_2015 = pd.DataFrame([])

#This goes through the individual files and adds them to the table
for filename in os.listdir('2015_bmf'):
     BMF_2015 = BMF_2015.append(pd.read_csv('2015_bmf/'+filename, low_memory=False))

BMF_2015.head()

,ACCPER,ADDRESS,ASSETS,CITY,EIN,EPOST,FILER,FIPS,FISYR_IMAGE,FNDNCD,...,cFinSrc,cTaxPer,cTotRev,czFiler,nteeConf,nteeFinal,nteeFinal1,ntmaj10,ntmaj12,ntmaj5
0,6.0,1706 GREENLEAF DR,0.0,NORFOLK,3154.0,Z,N,51710.0,NaN,15.0,...,NaN,NaN,NaN,N,A,C36,C,EN,EN,OT
1,12.0,1050 THORNDIKE ST,0.0,PALMER,19818.0,Z,N,25013.0,NaN,10.0,...,NaN,NaN,NaN,N,A,X21,X,RE,RE,OT
2,12.0,523 E BROADWAY,0.0,SOUTH BOSTON,29215.0,Z,N,25025.0,NaN,10.0,...,NaN,NaN,NaN,N,C,X20,X,RE,RE,OT
3,12.0,PO BOX 92,0.0,HOSFORD,260049.0,Z,N,12077.0,NaN,10.0,...,NaN,NaN,NaN,N,A,X21,X,RE,RE,OT
4,12.0,PO BOX 296,0.0,LABELLE,490336.0,Z,N,12051.0,NaN,10.0,...,NaN,NaN,NaN,N,A,X21,X,RE,RE,OT

In [5]:
#Since the same org will appear several times, this will get rid of duplicates
#BMF_2015.drop_duplicates(inplace = True)

BMF_2015_unique = BMF_2015.groupby("EIN").first()
BMF_2015_unique.head()

,ACCPER,ADDRESS,ASSETS,CITY,EPOST,FILER,FIPS,FISYR_IMAGE,FNDNCD,FRCD,...,cFinSrc,cTaxPer,cTotRev,czFiler,nteeConf,nteeFinal,nteeFinal1,ntmaj10,ntmaj12,ntmaj5
EIN,,,,,,,,,,,,,,,,,,,,,
3154.0,6.0,1706 GREENLEAF DR,0.0,NORFOLK,Z,N,51710.0,NaN,15.0,2.0,...,NaN,NaN,NaN,N,A,C36,C,EN,EN,OT
19818.0,12.0,1050 THORNDIKE ST,0.0,PALMER,Z,N,25013.0,NaN,10.0,6.0,...,NaN,NaN,NaN,N,A,X21,X,RE,RE,OT
29215.0,12.0,523 E BROADWAY,0.0,SOUTH BOSTON,Z,N,25025.0,NaN,10.0,6.0,...,NaN,NaN,NaN,N,C,X20,X,RE,RE,OT
65837.0,9.0,4655 STATE ROUTE 60,0.0,WAKEMAN,Z,N,39077.0,NaN,0.0,1.0,...,NaN,NaN,NaN,N,A,K28,K,HU,HU,HU
260049.0,12.0,PO BOX 92,0.0,HOSFORD,Z,N,12077.0,NaN,10.0,6.0,...,NaN,NaN,NaN,N,A,X21,X,RE,RE,OT

#### The Business Master File is more granular than Opportunity Atlas, so we have to match BMF to the minimum shared granularity.

I originally wanted to do census tract, since this is the actual minimum shared granularity. However, since the 1989 BMF data does not include addresses, we cannot match the areas to census tracts easily. The next best thing is to work on the city level, and instead match opportutnity atlas data to cities.

In [6]:
city_tract = pd.io.stata.read_stata('city_name_to_tract.dta')
city_tract.head()

,state,county,tract,city,share_tract_in_city,maxval,max,state_abbr
0,1,1,20100,Prattville,1.0,1.0,1.0,AL
1,1,1,20200,Prattville,1.0,1.0,1.0,AL
2,1,1,20300,Prattville,1.0,1.0,1.0,AL
3,1,1,20400,Prattville,1.0,1.0,1.0,AL
4,1,1,20500,Prattville,1.0,1.0,1.0,AL

In [7]:
OA_city = OA.merge(city_tract, "left")

From here, I'm going to re-aggregate all the means according to city instead of census tract. I'll have to:
* Take each county mean value
* Multiply it by that mean's count or n (which gives the sum)
* Sum the expanded mean (now a sum) and the count by city
* Divide "summed sums" by "summed counts"

In [32]:
mean_col_names = [x for x in OA_city.columns if ("se" not in x) & ("pooled_mean" in x)]
counts = [x for x in OA_city.columns if ("pooled_pooled_n" in x)]
mean_col_names

['kir_natam_pooled_mean',
 'jail_natam_pooled_mean',
 'kfr_natam_pooled_mean',
 'kfr_top20_natam_pooled_mean',
 'kir_top20_natam_pooled_mean',
 'married_natam_pooled_mean',
 'par_rank_natam_pooled_mean',
 'has_dad_natam_pooled_mean',
 'working_natam_pooled_mean',
 'kfr_26_natam_pooled_mean',
 'kir_26_natam_pooled_mean',
 'kfr_top01_natam_pooled_mean',
 'kir_top01_natam_pooled_mean',
 'lpov_nbh_natam_pooled_mean',
 'two_par_natam_pooled_mean',
 'has_mom_natam_pooled_mean',
 'staytract_natam_pooled_mean',
 'staycz_natam_pooled_mean',
 'stayhome_natam_pooled_mean',
 'kir_stycz_natam_pooled_mean',
 'kfr_stycz_natam_pooled_mean',
 'marr_24_natam_pooled_mean',
 'kfr_24_natam_pooled_mean',
 'kir_24_natam_pooled_mean',
 'marr_26_natam_pooled_mean',
 'marr_29_natam_pooled_mean',
 'kfr_29_natam_pooled_mean',
 'kir_29_natam_pooled_mean',
 'marr_32_natam_pooled_mean',
 'work_32_natam_pooled_mean',
 'work_26_natam_pooled_mean',
 'work_29_natam_pooled_mean',
 'work_24_natam_pooled_mean',
 'kir_asian_pooled_mean',
 'jail_asian_pooled_mean',
 'kfr_asian_pooled_mean',
 'kfr_top20_asian_pooled_mean',
 'kir_top20_asian_pooled_mean',
 'married_asian_pooled_mean',
 'par_rank_asian_pooled_mean',
 'has_dad_asian_pooled_mean',
 'working_asian_pooled_mean',
 'kfr_26_asian_pooled_mean',
 'kir_26_asian_pooled_mean',
 'kfr_top01_asian_pooled_mean',
 'kir_top01_asian_pooled_mean',
 'lpov_nbh_asian_pooled_mean',
 'two_par_asian_pooled_mean',
 'has_mom_asian_pooled_mean',
 'staytract_asian_pooled_mean',
 'staycz_asian_pooled_mean',
 'stayhome_asian_pooled_mean',
 'kir_stycz_asian_pooled_mean',
 'kfr_stycz_asian_pooled_mean',
 'marr_24_asian_pooled_mean',
 'kfr_24_asian_pooled_mean',
 'kir_24_asian_pooled_mean',
 'marr_26_asian_pooled_mean',
 'marr_29_asian_pooled_mean',
 'kfr_29_asian_pooled_mean',
 'kir_29_asian_pooled_mean',
 'marr_32_asian_pooled_mean',
 'work_32_asian_pooled_mean',
 'work_26_asian_pooled_mean',
 'work_29_asian_pooled_mean',
 'work_24_asian_pooled_mean',
 'kir_black_pooled_mean',
 'jail_black_pooled_mean',
 'kfr_black_pooled_mean',
 'kfr_top20_black_pooled_mean',
 'kir_top20_black_pooled_mean',
 'married_black_pooled_mean',
 'par_rank_black_pooled_mean',
 'has_dad_black_pooled_mean',
 'working_black_pooled_mean',
 'kfr_26_black_pooled_mean',
 'kir_26_black_pooled_mean',
 'kfr_top01_black_pooled_mean',
 'kir_top01_black_pooled_mean',
 'lpov_nbh_black_pooled_mean',
 'two_par_black_pooled_mean',
 'has_mom_black_pooled_mean',
 'staytract_black_pooled_mean',
 'staycz_black_pooled_mean',
 'stayhome_black_pooled_mean',
 'kir_stycz_black_pooled_mean',
 'kfr_stycz_black_pooled_mean',
 'marr_24_black_pooled_mean',
 'kfr_24_black_pooled_mean',
 'kir_24_black_pooled_mean',
 'marr_26_black_pooled_mean',
 'marr_29_black_pooled_mean',
 'kfr_29_black_pooled_mean',
 'kir_29_black_pooled_mean',
 'marr_32_black_pooled_mean',
 'work_32_black_pooled_mean',
 'work_26_black_pooled_mean',
 'work_29_black_pooled_mean',
 'work_24_black_pooled_mean',
 'kir_hisp_pooled_mean',
 'jail_hisp_pooled_mean',
 'kfr_hisp_pooled_mean',
 'kfr_top20_hisp_pooled_mean',
 'kir_top20_hisp_pooled_mean',
 'married_hisp_pooled_mean',
 'par_rank_hisp_pooled_mean',
 'has_dad_hisp_pooled_mean',
 'working_hisp_pooled_mean',
 'kfr_26_hisp_pooled_mean',
 'kir_26_hisp_pooled_mean',
 'kfr_top01_hisp_pooled_mean',
 'kir_top01_hisp_pooled_mean',
 'lpov_nbh_hisp_pooled_mean',
 'two_par_hisp_pooled_mean',
 'has_mom_hisp_pooled_mean',
 'staytract_hisp_pooled_mean',
 'staycz_hisp_pooled_mean',
 'stayhome_hisp_pooled_mean',
 'kir_stycz_hisp_pooled_mean',
 'kfr_stycz_hisp_pooled_mean',
 'marr_24_hisp_pooled_mean',
 'kfr_24_hisp_pooled_mean',
 'kir_24_hisp_pooled_mean',
 'marr_26_hisp_pooled_mean',
 'marr_29_hisp_pooled_mean',
 'kfr_29_hisp_pooled_mean',
 'kir_29_hisp_pooled_mean',
 'marr_32_hisp_pooled_mean',
 'work_32_hisp_pooled_mean',
 'work_26_hisp_pooled_mean',
 'work_29_hisp_pooled_mean',
 'work_24_hisp_pooled_mean',
 'kir_other_pooled_mean',
 'jail_other_pooled_mean',
 'kfr_other_pooled_mean',
 'kfr_top20_other_pooled_mean',
 'kir_top20_other_pooled_mean',
 'married_other_pooled_mean',
 'par_rank_other_pooled_mean',
 'has_dad_other_pooled_mean',
 'working_other_pooled_mean',
 'kfr_26_other_pooled_mean',
 'kir_26_other_pooled_mean',
 'kfr_top01_other_pooled_mean',
 'kir_top01_other_pooled_mean',
 'lpov_nbh_other_pooled_mean',
 'two_par_other_pooled_mean',
 'has_mom_other_pooled_mean',
 'staytract_other_pooled_mean',
 'staycz_other_pooled_mean',
 'stayhome_other_pooled_mean',
 'kir_stycz_other_pooled_mean',
 'kfr_stycz_other_pooled_mean',
 'marr_24_other_pooled_mean',
 'kfr_24_other_pooled_mean',
 'kir_24_other_pooled_mean',
 'marr_26_other_pooled_mean',
 'marr_29_other_pooled_mean',
 'kfr_29_other_pooled_mean',
 'kir_29_other_pooled_mean',
 'marr_32_other_pooled_mean',
 'work_32_other_pooled_mean',
 'work_26_other_pooled_mean',
 'work_29_other_pooled_mean',
 'work_24_other_pooled_mean',
 'kir_pooled_pooled_mean',
 'jail_pooled_pooled_mean',
 'kfr_pooled_pooled_mean',
 'kfr_top20_pooled_pooled_mean',
 'kir_top20_pooled_pooled_mean',
 'married_pooled_pooled_mean',
 'par_rank_pooled_pooled_mean',
 'has_dad_pooled_pooled_mean',
 'working_pooled_pooled_mean',
 'kfr_26_pooled_pooled_mean',
 'kir_26_pooled_pooled_mean',
 'kfr_top01_pooled_pooled_mean',
 'kir_top01_pooled_pooled_mean',
 'lpov_nbh_pooled_pooled_mean',
 'two_par_pooled_pooled_mean',
 'has_mom_pooled_pooled_mean',
 'staytract_pooled_pooled_mean',
 'staycz_pooled_pooled_mean',
 'stayhome_pooled_pooled_mean',
 'kir_stycz_pooled_pooled_mean',
 'kfr_stycz_pooled_pooled_mean',
 'marr_24_pooled_pooled_mean',
 'kfr_24_pooled_pooled_mean',
 'kir_24_pooled_pooled_mean',
 'marr_26_pooled_pooled_mean',
 'marr_29_pooled_pooled_mean',
 'kfr_29_pooled_pooled_mean',
 'kir_29_pooled_pooled_mean',
 'marr_32_pooled_pooled_mean',
 'work_32_pooled_pooled_mean',
 'work_26_pooled_pooled_mean',
 'work_29_pooled_pooled_mean',
 'work_24_pooled_pooled_mean',
 'kir_white_pooled_mean',
 'jail_white_pooled_mean',
 'kfr_white_pooled_mean',
 'kfr_top20_white_pooled_mean',
 'kir_top20_white_pooled_mean',
 'married_white_pooled_mean',
 'par_rank_white_pooled_mean',
 'has_dad_white_pooled_mean',
 'working_white_pooled_mean',
 'kfr_26_white_pooled_mean',
 'kir_26_white_pooled_mean',
 'kfr_top01_white_pooled_mean',
 'kir_top01_white_pooled_mean',
 'lpov_nbh_white_pooled_mean',
 'two_par_white_pooled_mean',
 'has_mom_white_pooled_mean',
 'staytract_white_pooled_mean',
 'staycz_white_pooled_mean',
 'stayhome_white_pooled_mean',
 'kir_stycz_white_pooled_mean',
 'kfr_stycz_white_pooled_mean',
 'marr_24_white_pooled_mean',
 'kfr_24_white_pooled_mean',
 'kir_24_white_pooled_mean',
 'marr_26_white_pooled_mean',
 'marr_29_white_pooled_mean',
 'kfr_29_white_pooled_mean',
 'kir_29_white_pooled_mean',
 'marr_32_white_pooled_mean',
 'work_32_white_pooled_mean',
 'work_26_white_pooled_mean',
 'work_29_white_pooled_mean',
 'work_24_white_pooled_mean']

In [11]:
BMF_2015.columns

Index(['ACCPER', 'ADDRESS', 'ASSETS', 'CITY', 'EIN', 'EPOST', 'FILER', 'FIPS',
       'FISYR_IMAGE', 'FNDNCD', 'FRCD', 'GEN', 'INCOME', 'IRS990n', 'LEVEL1',
       'LEVEL2', 'LEVEL3', 'LEVEL4', 'MAJGRPB', 'MSA_NECH', 'NAICS', 'NAME',
       'NTEE1', 'NTEECC', 'NTEESRC', 'OUTNCCS', 'OUTREAS', 'PFFRCD', 'PMSA',
       'RULEDATE', 'RandNum', 'SEC_NAME', 'STATE', 'SUBSECCD', 'TAXPER',
       'Unnamed: 0', 'ZFILER', 'ZIP5', 'cAssets', 'cFiler', 'cFinSrc',
       'cTaxPer', 'cTotRev', 'czFiler', 'nteeConf', 'nteeFinal', 'nteeFinal1',
       'ntmaj10', 'ntmaj12', 'ntmaj5'],
      dtype='object')

In [12]:
BMF_1989.columns

Index(['EIN', 'NAME', 'CITY', 'STATE', 'ZIP', 'SUBSECCD', 'ZIP5', 'MSA_NECH',
       'PMSA', 'fipsold', 'FIPS', 'FNDNCD', 'ORGCD', 'ORGTYPCD', 'v_errorCd',
       'FILER', 'NTEECC', 'NteeCC4d', 'NTEEconf', 'NTEE1', 'LEVEL1', 'LEVEL2',
       'LEVEL3', 'LEVEL4', 'MAJGRPB', 'OUTNCCS', 'OUTREAS', 'NTEESRC',
       'ntmaj10', 'ntmaj12', 'ntmaj5', 'Assets', 'Income', 'stateOld1',
       'zip5Old1', 'cityOld1', 'NteeOldB', 'Ntee2007a', 'Confidence2007a',
       'RandNum', 'nteeFinal', 'nteeFinal1'],
      dtype='object')

In [16]:
overlap = [x for x in BMF_2015.columns if x in BMF_1989.columns]
overlap

['CITY',
 'EIN',
 'FILER',
 'FIPS',
 'FNDNCD',
 'LEVEL1',
 'LEVEL2',
 'LEVEL3',
 'LEVEL4',
 'MAJGRPB',
 'MSA_NECH',
 'NAME',
 'NTEE1',
 'NTEECC',
 'NTEESRC',
 'OUTNCCS',
 'OUTREAS',
 'PMSA',
 'RandNum',
 'STATE',
 'SUBSECCD',
 'ZIP5',
 'nteeFinal',
 'nteeFinal1',
 'ntmaj10',
 'ntmaj12',
 'ntmaj5']

In [19]:
BMF_2015_clean = BMF_2015[overlap]
BMF_1989_clean = BMF_1989[overlap]

## Write to computer

Lastly, we write the new files to the folder so we have cleaned versions to work on later

In [20]:
#OA_city.to_csv("Opp_At_cleaned.csv")
#BMF_1989_clean.to_csv("BMF_1989_cleaned.csv")
#BMF_2015_clean.to_csv("BMF_2015_cleaned.csv")