In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
OA = pd.read_csv("big_data.nosync/clean/Opp_At_cleaned.csv")
OA.head()

,city,state_abbr,kir_natam_female_n,kir_natam_female_sum,jail_natam_female_n,jail_natam_female_sum,kfr_natam_female_n,kfr_natam_female_sum,kfr_top20_natam_female_n,kfr_top20_natam_female_sum,...,kir_24_white_pooled_mean,marr_26_white_pooled_mean,marr_29_white_pooled_mean,kfr_29_white_pooled_mean,kir_29_white_pooled_mean,marr_32_white_pooled_mean,work_32_white_pooled_mean,work_26_white_pooled_mean,work_29_white_pooled_mean,work_24_white_pooled_mean
0,Acton,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.560569,0.327264,0.464994,0.588517,0.560706,0.548029,0.769153,0.833181,0.801858,0.875169
1,Adelanto,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.493039,0.304453,0.385564,0.451404,0.446617,0.419086,0.730163,0.810710,0.719839,0.826712
2,Agoura Hills,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.560957,0.177945,0.335383,0.597835,0.604299,0.458903,0.779359,0.858846,0.812145,0.858609
3,Agua Dulce,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.609694,0.261612,0.409716,0.598228,0.596494,0.500662,0.791497,0.825956,0.778524,0.863199
4,Aguanga,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.475169,0.347813,0.383223,0.509786,0.489740,0.481101,0.653272,0.771944,0.733355,0.794513

In [3]:
BMFs = {}
for filename in os.listdir("big_data.nosync/clean"):
    if ("bmf" in filename):
        BMFs.update({filename: pd.read_csv("big_data.nosync/clean/"+filename)})

/Users/katiawilliams/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)